VODA_MOBILE=01XXXXXXXXX
# Use local format only (without +2 / 002)
VODA_PASSWORD=YOUR_VODAFONE_PASSWORD
TELEGRAM_BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TELEGRAM_CHAT_ID=123456789

# Optional
VODA_LOGIN_URL=https://web.vodafone.com.eg/auth/realms/vf-realm/protocol/openid-connect/auth?client_id=website&redirect_uri=https%3A%2F%2Fweb.vodafone.com.eg%2Fspa%2FmyHome&response_mode=query&response_type=code&scope=openid&ui_locales=ar
VODA_ADSL_URL=https://web.vodafone.com.eg/spa/adslManagement
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_BROWSER_CHANNEL=msedge
SEND_ERROR_TO_TELEGRAM=true
DEBUG_SAVE_ADSL_RESPONSE=false
